
html {
    min-height: 100%;
    
}
body {
    background-color: #55CDFC;
    background-image: linear-gradient(to bottom right,#55CDFC,#F7A8B8);

    /*height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center; 
  }

  img{
    border: 4px;
    border-color: white;
    border-style: groove;
  }

  button {
      background-color: white;
      border: none;
      color: black;
      padding: 8px 10px;
      border-radius: 52%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 120%;
      display: block;
      margin: 1%;
      border-bottom: 12px;

      transition-duration: 0.4s;

      /*width: 100%;*/
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      /*margin-left: 34%;
      margin-right: 34%;*/
      height: 20%;
  
  }
  button:hover{
    background-color: red;
  }

  .flex-parent {
    display: flex;
  }
  .flex-child {
    flex: 1;
  }